* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rightArrow {
  height: 5px;
  width: 5px;
  border-left: gold;
  border-bottom: gold;
}
.active {
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
body {
  width: 100%;
}
.page {
  position: relative;
}
a {
  text-decoration: none;
  color: black;
}
.time {
  width: 100%;
  height: 20px;
  background-color: aqua;
}
.subjectList {
  margin: 8px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 68px;
}
.subjectList li {
  width: 68px;
  height: 44px;
  float: left;
  line-height: 44px;
  text-align: center;
  margin: 2px;
}
.subjectImg {
  height: 160px;
  background-color: blue;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.subjectStart {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.subjectStart h4 {
  color: white;
  font-weight: bolder;
}
.subjectStart h6 {
  color: white;
  font-weight: inherit;
}
.subjectTriangle {
  width: 50%;
  background-image: url("./img/triangle.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.subjectImg button {
  height: 36px;
  width: 120px;
  border-radius: 36px;
  border: 2px solid white;
  color: black;
  background-color: gold;
  outline: none;
  font-weight: bold;
  letter-spacing: 3px;
}
/* .buttonCircle{
  height:20px;
  width:20px;
  border-radius: 50%;
  background-color: black;
}
.buttonArrow{
  height:5px;
  width: 5px;
  border-right: 2px solid gold;
  border-top: 2px solid gold;
  transform: rotate(45deg);
} */
.subjectChange {
  border-radius: 6pt 0 0 6pt;
  background-color: white;
  height: 32pt;
  width: 32pt;
  border: 1px solid black;
  position: absolute;
  top: 16pt;
  right: 0;
  z-index: 999;
}
.function {
  height: 124px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* position:absolute;
  top:252px;  */
}
.functionList {
  margin: 8px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.functionList li {
  width: 76px;
  height: 62px;
  float: left;
  margin: 2px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.banner {
  height: 110px;
  background-color: coral;
  margin: -0 16px 0 16px;
}
.navBox li:last-child {
  border-right: none;
}
.navBox {
  height: 80px;
  display: flex;
  margin: 0 16px;
  align-items: center;
  text-align: center;
  /* background-color: crimson; */
}
.navBox li {
  width: 50%;
  border-right: 1px solid #ddd;
}
.examination {
  /* background-color: crimson; */
  margin: 0 16px;
  padding-bottom: 50px;
}
.examination ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 90px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.examinationTest {
  min-height: 90px;
  max-width: 249px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.examinationTest h3,
h5,
h6 {
  margin-bottom: 4px;
  margin-top: 4px;
}
.examinationTest h5 {
  font-size: 11px;
  width: 52px;
  background-color: wheat;
  padding: 3.5px 4px 3.5px 4px;
  border: 1px solid black;
}
.examinationTest h6 {
  font-size: 12px;
  color: darkgrey;
  font-weight: inherit;
}
.examinationContinue {
  min-height: 90px;
  display: flex;
  align-items: center;
}
.examinationContinue a {
  font-size: 13px;
  background-image: url("./img/rightarrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  padding-right: 22px;
}
.tabBar {
  width: 100%;
  height: 45px;
  background-color: white;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -1px 10px 0 rgb(156, 223, 245);
}

.tabBar ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tabBar li {
  padding: 2px 20px 0px 20px;
  text-align: center;
}
